.addNoteForm {
  margin-left: 150px;
}

.addNoteForm > form {
  margin: 5px 5px 5px 0px;
}

.addNoteForm > form > select {
  height: 30px;
  font-size: 16px;
  margin: 5px 0px 5px 0px;
}

.addNoteForm > form > textarea {
  width: 250px;
  height: 80px;
  border: 1px solid #777;
}

.addNoteForm > form > input {
  width: 250px;
}
